{{ define "main" }}
{{/*
  This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
   */}}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      Test Test {{ .Content }}
    </section>
    <aside class="flex-ns flex-wrap justify-around mt5">
      {{ $pages := .Site.RegularPages }}
      {{ $pages = $pages | lang.Merge (index .Site.Home.Translations 0).Site.RegularPages }}
      {{ range (.Paginate $pages).Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          {{/*
          Note we can use `.Render` here for items just in this section, instead of a partial to pull in items for the list page. https://gohugo.io/functions/render/
          */}}
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </aside>
    {{/*  template "_internal/pagination.html" . */}}
  </article>
{{ end }}
